<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
    crossorigin="anonymous">
    <link rel="stylesheet"  th:href="@{/assets/estilos.css}">
     
    <title> Cadastro Usuarios </title
        >
</head>
<body>
    
    
      <form
      th:action = "@{/users/saveUser}"
      action="#"
      th:object = "${userObj}"
      method="post">
          
        
        <div class="form-group">
          Nome : 
          <input type="text" class="form-control" th:field="*{nome}"  placeholder="">
        </div>
        <div class="form-group">
            Email :
            <input type="email" class="form-control" th:field="*{email}"  placeholder="">
        </div>

        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-2">Enviar</button>
            <button type="reset"  class="btn btn-warning mb-2">Cancelar</button>
        </div>

      </form>

</body>
</html>